html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  &:focus {
    outline: none;
  }
  &, &:hover, &:focus {
    text-decoration: none;
  }
}

a {
  color: #666666;
  &:hover {
    color: #118BFB;
  }
}

input, textarea {
  &:focus {
    outline: none;
  }
}

body {
  margin: 0;
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
}
.body-container{
  display: flex;
  padding: 20px;
  .menu-container{
    width: 200px;
  }
  .container{
    flex:1;
    border: 1px solid #ddd;
  }
}
